<div class="simple-form-new-gadget">
<%= simple_form_for @gadget do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%=
    f.input :condition,
    collection: ['New', 'Lightly Used', 'Used'],
    include_blank: false
  %>
  <%= f.input :year %>

  <%= f.input :category %>
  <%=
    f.input :category,
    collection: [
      'cameras', 'computers', 'tv',
      'games', 'music', 'phones', 'writing'
    ],
    include_blank: false
  %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :image %>
  <%= f.input :image_cache, as: :hidden %>
  <%=
    f.button :submit,
    'I like big gadgets and I cannot lie!',
    class: "btn btn-primary"
  %>
<% end %>
</div>
