<div class="new-gadget-form-wrapper">

<div class="simple-form-new-gadget">
  <h1>Upload Your Gadget</h1>
<%= simple_form_for @gadget do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%=
    f.input :condition,
    collection: ['New', 'Lightly Used', 'Used'],
    include_blank: false
  %>
  <%= f.input :year %>

  <%=
    f.input :category,
    collection: [

      'cameras', 'computers', 'tv',
      'games', 'music', 'phones', 'writing'
    ],
    include_blank: false
  %>

  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :image %>
  <%= f.input :image_cache, as: :hidden %>
  <%=
    f.button :submit,
    'Upload Now',
    class: "btn-upload"
  %>
<% end %>
</div>

</div>

