
<div class="main">
<div class="box">
  <div class="box-to-flex">
    <div class="left-box">
      <%= cl_image_tag @gadget.image ,:alt => "#{@gadget.name} image", class: "image-show"      %>
    </div>

    <div class="right-box">
      <h1><%= @gadget.name.capitalize %></h1>
      <p><%= @gadget.description%></p>
      <p><strong>Year:</strong> <%= @gadget.year %></p>
      <p><strong>Condition:</strong> <%= @gadget.condition %></p>
      <p><strong>Category:</strong> <%= @gadget.category %></p>
      <div class="price-order">
      <p>Price: $<%= @gadget.price %> per day</p>
      <%= link_to "Book now!", new_gadget_booking_path(@gadget), class: "nice-button" unless @gadget.user == current_user %>
      </div>
    </div>
  </div>
</div>

<br>


<div id="map"
  data-marker="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

</div>

<%= link_to "edit", edit_gadget_path(@gadget)%>

