<h1>Gadgets I posted:</h1>
  <div class="row">
      <% @gadgets.each do |gadget| %>
    <div class="col-sm-4">
      <%= link_to gadget_path(gadget) do %>
      <div class="card-product">
        <%= cl_image_tag gadget.image %>

        <div class="card-product-infos">
          <h2><%= gadget.name.upcase %></h2>
          <div class="scroll">
          <p> Description: <%= gadget.description %> </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
    </div>
</div>


<h1>Gadgets I rented:</h1>
<ul>
<% @bookings.each do |booking| %>
<li><%= link_to booking.gadget.name, gadget_booking_path(booking.gadget, booking) %></li>
<% end %>
</ul>
